In [1]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형 
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현: [요소1, 요소2, 요소3, ...]

In [6]:
array = [1, 3.14, "문자열", True]
array

[1, 3.14, '문자열', True]

In [9]:
array[0]

1

In [16]:
array[-5]

IndexError: list index out of range

In [18]:
for item in array:
    print(item)

1
3.14
문자열
True

In [82]:
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을 때
# 리스트에서 최대값, 최소값, 평균, 분산을 출력

numbers = [3.5, 10.3, 3.2, 7.8, 5.4]

In [83]:
max = float("-Inf")
for number in numbers:
    if number > max:
        max = number
print(max)

10.3

In [84]:
min = float("Inf")
for number in numbers:
    if number < min:
        min = number
print(min)

3.2

In [85]:
sum = 0
for number in numbers:
    sum += number
avg = round(sum / len(numbers), 2)
print(avg)

6.04

In [86]:
round(((numbers[0]-avg)**2 + (numbers[1]-avg)**2 + (numbers[2]-avg)**2 + (numbers[3]-avg)**2 + (numbers[4]-avg)**2) / 5)

7

In [87]:
sum = 0
for number in numbers:
    sum += (number - avg)**2
dispersion = round(sum / len(numbers), 2)
dispersion

7.23

In [88]:
# 리스트의 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

In [89]:
len(numbers)

5

In [90]:
# 리스트 구조로 형변환
# 반복 가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [91]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
# 리스트 자료 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 확장할 수 있음

In [93]:
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [1]:
numbers.append(99)
numbers

NameError: name 'numbers' is not defined

In [95]:
numbers.insert(0, -100)
numbers

[-100, 0, 1, 2, 3, 4, 99]

In [96]:
numbers.extend([123,321])
numbers

[-100, 0, 1, 2, 3, 4, 99, 123, 321]

In [98]:
# 리스트에서 요소 삭제
# del 요소 : 요소를 메모리 상에서 제거
# pop() : 마지막 요소를 반환나고 제거
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거
# remove(요소) : 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)

In [100]:
del numbers[0]
numbers

[1, 2, 3, 4, 99, 123, 321]

In [103]:
numbers.pop(2)

4

In [105]:
numbers

[1, 2, 99, 123]

In [111]:
numbers = [1, 1, 1, 2, 2, 3]
numbers

[1, 1, 1, 2, 2, 3]

In [113]:
numbers.remove(2)
numbers

[1, 1, 1, 3]

In [114]:
# 리스트 슬라이싱
# 리스트[시작인덱스:종료인덱스] : 시작인덱스 요소부터 종료인덱스 앞까지 요소로 묶어서 리스트로 반환

In [116]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [118]:
numbers[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [123]:
numbers[7:14]

[7, 8, 9, 10, 11, 12, 13]

In [125]:
numbers[7:]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [130]:
names.append('한시우')
names

['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [2]:
names.remove('최이서')
names

NameError: name 'names' is not defined

In [3]:
new_names = names[4:9]
new_names

NameError: name 'names' is not defined

In [4]:
# 리스트 복수 할당
# 변수를 ,로 구분하여 대입 연산자 좌측에 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입할 수 있음

In [6]:
numbers = [1, 2, 3]

In [10]:
number1, number2, number3 = numbers
print(f'{number1} {number2} {number3}')

1 2 3

In [11]:
# 만약 복수 할당할 변수의 개수가 리스트 요소의 갯수와 같지 않다면 오류가 발생
number1, number2 = numbers

ValueError: too many values to unpack (expected 2)

In [12]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어 주는 내장 함수

In [14]:
for index, item in enumerate(numbers):
    print(f'인덱스 : {index}, 요소 : {item}')

인덱스 : 0, 요소 : 1
인덱스 : 1, 요소 : 2
인덱스 : 2, 요소 : 3

In [16]:
# zip()
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성

In [18]:
names

['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [20]:
scores = [70, 85, 60, 55, 90, 100, 100, 65, 75, 40]
scores

[70, 85, 60, 55, 90, 100, 100, 65, 75, 40]

In [24]:
name_scores = list(zip(names, scores))
name_scores

[('김이준', 70),
 ('이서아', 85),
 ('박도윤', 60),
 ('최이서', 55),
 ('정하준', 90),
 ('강아윤', 100),
 ('조은우', 100),
 ('윤지아', 65),
 ('장서준', 75),
 ('임하윤', 40)]

In [25]:
# 중첩 리스트
# 리스트의 요소로 리스틀 가지고 있는 리스트

In [27]:
overlappings = [
    [1,2,3] # 하나의 요소
    , [4,5,6]
    , [7,8,9]
]
overlappings

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
items = overlappings[0]
items

[1, 2, 3]

In [32]:
items[1]

2

In [33]:
# 평균 평점을 구하는 함수
# 함수의 매개변수로 grades, credits 리스트를 입력 받고
# 평균 평점 gpa를 반환하는 함수를 작성하시오
# 단 grades와 credits의 길이가 서로 다르다면 -1를 반환하시오

In [42]:
def getGpa(grades, credits):

    if len(grades) != len(credits):
        return -1
    
    credits_sum = 0 # 이수 학점의 총합
    weight_sum = 0 # 가중치 총합
    # for index in range(len(grades)):
    #     credits_sum += credits[index]
    #     weight_sum += credits[index]*grades[index]

    for grade, credit in zip(grades, credits):
        credits_sum += credit
        weight_sum += credit * grade

    # 평균평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum, 2)
    return gpa

In [44]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1 , 2, 2]
getGpa(grades, credits)

3.36

In [53]:
# x = [['길동', 90], ['철수', 80], ['영희', 70], ['방자', 60]]
# 복수할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를 생성

x = [
    ['길동', 90], 
    ['철수', 80], 
    ['영희', 70], 
    ['방자', 60]
    ]

x_names = list(list(zip(*x))[0])

x_names

['길동', '철수', '영희', '방자']

In [54]:
# 딕셔너리
# key, value를 하나의 쌍으로 관리하는 자료형
# 순서가 존재하지 않고 key는 중복을 하용하지 않으며, value는 중복될 수 있음
# 딕셔너리변수 = {key1: value1, key2: value2, ...}
# key는 어떠한 자료형이든 가능

In [56]:
eng_dictionary = {
    'apple':'사과', 
    'banana':'바나나', 
    'carrot':'당근'
    }
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [57]:
# 딕셔너리의 특정 요소에 접근할 때는 딕셔너리변수[키]로 값을 가져올 수 있음(접근 가능)

In [60]:
eng_dictionary['apple']

'사과'

In [61]:
# 딕셔너리 자료 쌍의 개수
# len(딕셔너리 변수)를 사용하여 자료 쌍의 개수를 구할 수 있음

In [63]:
len(eng_dictionary)

3

In [64]:
# 딕셔너리 value 변경
# 딕셔너리[키] = 변경할 값

In [67]:
eng_dictionary['banana'] = '버네너'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근'}

In [68]:
# 딕셔너리 요소 추가
# 딕셔너리변수[추가할 키] = 추가할 값

In [70]:
eng_dictionary['delete'] = '삭제'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [71]:
# 딕셔너리의 update 메서드
# 추가, 수정 작업을 딕셔너리로 지정하여 작업하는 것

In [72]:
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [73]:
eng2_dictionary = {
    'banana':'바나나',
    'electricity':'전기'
}

In [76]:
eng_dictionary.update(eng2_dictionary)
eng_dictionary

{'apple': '사과',
 'banana': '바나나',
 'carrot': '당근',
 'delete': '삭제',
 'electricity': '전기'}

In [77]:
# 딕셔너리 요소 삭제
# del 명령어를 사용하여 제거
# pop() 메서드 사용하여 추출

In [79]:
del eng_dictionary['electricity']

KeyError: 'electricity'

In [81]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근', 'delete': '삭제'}

In [83]:
eng_dictionary.pop('delete')

KeyError: 'delete'

In [85]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [86]:
# 반복가능 객체에 요소 존재여부 확인
# in 연산자를 통해서 특정 요소가 해당 객체에 존재하는지 여부 확인 가능

In [88]:
numbers

[1, 2, 3]

In [90]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [97]:
1 in numbers

True

In [100]:
'carrot' in eng_dictionary

True

In [101]:
# 딕셔너리를 반복문에서 사용
# 키만 사용: for key in 딕셔너리.keys():
# 값만 사용: for value in 딕셔너리.value():
# 키와 값을 모두 사용: for key, value in 딕셔너리.items():

# keys(): 딕셔너리의 key 값들을 튜플로 반환
# values(): 딕셔너리의 value 값들은 튜플로 반환
# items(): 딕셔너리의 key, value 쌍들을 튜플로 반환

In [104]:
for key in eng_dictionary.keys():
    print(key)

apple
banana
carrot

In [106]:
for value in eng_dictionary.values():
    print(value)

사과
바나나
당근

In [108]:
for key, value in eng_dictionary.items():
    print(f'key:{key}, value:{value}')

key:apple, value:사과
key:banana, value:바나나
key:carrot, value:당근

In [109]:
data = {
    '철수': 98,
    '영희': 80,
    '순이': 100,
    '돌이': 70
}

In [122]:
sum = 0
for key, value in data.items():
    print(f'{key}\t{value}')
    sum += value
avg = round(sum/len(data))
print('=============')

print(f'{'평균'}\t{avg}')

철수	98
영희	80
순이	100
돌이	70
=============
평균	87