In [ ]:
#

In [7]:
from sys import getsizeof

In [9]:
variable = 1
getsizeof(variable)

28

In [10]:
variable = 1.0
getsizeof(variable)

24

In [11]:
# type() 내장함수를 사용하여 데이터의 타입을 확인할 수 있음.

In [14]:
# NoneType : 값이 아직 지정되지 않음 (null과 같음)
variable = None
type(variable)

NoneType

In [16]:
# int : 정수 타입
variable = 1
type(variable)

int

In [18]:
# float : 실수 타입
variable = 1.0
type(variable)

float

In [20]:
# str : 문자열 타입
variable = '1.0'
type(variable)

str

In [22]:
# list : 리스트 타입
variable = [1, 2, 3]
type(variable)

list

In [25]:
# tuple : 튜플 타입
variable = 1, 2, 3
type(variable)

tuple

In [27]:
# dict : 딕셔너리 타입
variable = {'a':1, 'b':2}
type(variable)

dict

In [29]:
# function : 함수 타입
def func():
    pass
type(func)

function

In [30]:
# 문자열 슬라이싱 - 문자열도 배열과 동일한 방법으로 슬라이싱 할 수 있음
# 문자열 분리하기 - 문자열.split('구분문자')으로 구분문자 기준으로 문자열을
# 분리하여 리스트를 생성함
today = "2020-10-25"
birthday = "2010-11-21"

In [33]:
a = 'a,d,c,d'
a_list = a.split(',')
a_list

['a', 'd', 'c', 'd']

In [41]:
age = int('20201025') - int('20101121')
age
# today_year, today_month, today_day = today.split('-') # ['2020','10','25']+
# birthday_year, birthday_month, birthday_day = birthday.split('-')
# age = int(today_year) - int(birthday_year)
# if today_month < birthday_month
#   age -= 1
# elif today_month == birthday_month and today_day < birthday_day
#   age -= 1

99904

In [1]:
# 변형 자료형, 불변형 자료형
# 변형 자료형 : 변수에 담겨 있는 데이터를 변경하더라도 주소는 변경되지 않음
# 불변형 자료형 : 변수에 담겨 있는 데이터를 변경하면 원래 있던 주소가 변경

# 변형 자료형 : 리스트, 딕셔너리
# 불변형 자료형 : 정수, 실수, 문자열, 논리, 튜플

In [50]:
variable = 10
id(variable)

140731840744152

In [46]:
variable = 11
id(variable)

140731840744184

In [56]:
variable = '문자열'
id(variable)

2312185671280

In [58]:
variable2 = variable.replace('문','곰')
id(variable2)

2312185086192

In [62]:
variable = [1,2,3]
id(variable)

2312185123776

In [64]:
variable.append(4)
variable

[1, 2, 3, 4, 4]

In [66]:
id(variable)

2312185123776

In [2]:
variable[1] = 10
id(variable)

NameError: name 'variable' is not defined