In [36]:
'안녕하세요'

'안녕하세요'

In [37]:
1 + 1 # 정수 더하기

2

In [38]:
print(7 // 3) # 몫 연산자
print(7 ** 3) # 제곱 연산자

2
343

In [39]:
variable = '문자열' # 파이썬의 변수는 데이터 타입이 존재하지 않음. (데이터의 타입은 존재)
variable

'문자열'

In [40]:
variable = 3.14
variable

3.14

In [41]:
# 정수와 실수 형변환
# 특정 데이터를 정수로 변환할 때는 int() 내장 함수 사용

In [42]:
int(3.14)

3

In [43]:
int('3')

3

In [44]:
# 특정 데이터를 실수로 변환할 때는 float() 내장 함수를 사용

In [45]:
float(3)

3.0

In [46]:
float('3.14')

3.14

In [47]:
# NaN 과 Inf
# NaN : 숫자가 아님을 나타냄
# Inf : 무한대의 수를 나타냄

In [48]:
float('NaN')

nan

In [49]:
float('Inf')

inf

In [50]:
# 파이썬에서의 문자열 표현
# ', "", ''', """

In [51]:
'문자열'

'문자열'

In [52]:
"문자열"

'문자열'

In [53]:
'''
여러줄의
문자열
취급
'''

'\n여러줄의\n문자열\n취급\n'

In [54]:
"""
여러줄의
문자열
취급
"""

'\n여러줄의\n문자열\n취급\n'

In [55]:
# 문자열 연산
# + : 문자열을 연결
# * : 문자열을 반복

In [56]:
'안녕' + "안녕"

'안녕안녕'

In [57]:
'안녕' * 5

'안녕안녕안녕안녕안녕'

In [59]:
# 문자열 형변환
# 다른 형태의 데이터를 str() 내장함수를 사용하여 문자열로 변환 가능

In [61]:
'안녕' + 5 + '잘가'

TypeError: can only concatenate str (not "int") to str

In [63]:
'안녕' + str(5) + '잘가'

'안녕5잘가'

In [64]:
# 문자열 줄바꿈
# \n으로 줄바꿈을 표현할 수 있음

In [68]:
'안녕\n잘가'

'안녕\n잘가'

In [71]:
# 문자열 치환
# 문자열객체.replace(변경전 문자, 변경후 문자)
string = 'I am Ironman'

In [72]:
string.replace('Ironman', 'Hulk')

'I am Hulk'

In [74]:
string

'I am Ironman'

In [76]:
# f문자열
# 문자열을 표시할 형태를 지정해서 사용하는 문자열
name = '김철수'
age = 30

In [78]:
f'{name}의 나이는 {age}세 입니다.'

'김철수의 나이는 30세 입니다.'

In [80]:
# f문자열의 고급 형식 지정
# 변수 :< 숫자 : 변수값을 왼쪽으로 정렬해서 나열한 후에 남은 자리를 공백으로 매꿈
# 변수 :> 숫자 : 변수값을 오른쪽으로 정렬해서 나열한 후에 남은 자리를 공백으로 매꿈
# 변수 :^ 숫자 : 변수값을 가운데 정렬해서 나열한 후에 남은 자리를 공백으로 매꿈
# 변수 :특정문자() : 변수값을 정렬해서 나열한 후에 남은 자리를 특정문자로 매꿈
number = 12345

In [84]:
f'[{number:<15}]'

'[12345          ]'

In [83]:
f'[{number:0>15}]'

'[000000000012345]'